<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{}
)}">

<head>
    <meta charset="UTF-8">
    <title>Attendances</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <form action="#" method="post">
        <div class="table-title">
            <div class="row justify-content-between">
                <h3 class="col-sm-4">#List Attendance</h3>
                <div class="input-group mb-2 col-sm-8" style="max-width: 600px;">
                    <input type="date" class="form-control me-2" id="date">
                    <input type="text" class="form-control rounded-start" placeholder="Search...">
                    <button class="btn btn-primary rounded-end" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a class="btn btn-success ms-1 rounded" th:href="@{/attendances/create}" data-bs-toggle="tooltip"
                       data-bs-placement="top" title="Add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Check in <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Check out <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Date <i class="fa fa-sort"></i></th>
                    <th scope="col">Active <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10:20:00</td>
                    <td>20:11:00</td>
                    <td>12/12/2024</td>
                    <td>Active</td>
                    <td>
                        <a th:href="@{/attendances/update}" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>
                        <a href="#" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Delete">
                            <i class="fa-solid fa-ban text-danger"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>10:20:00</td>
                    <td>20:11:00</td>
                    <td>13/12/2024</td>
                    <td>Active</td>
                    <td>
                        <a th:href="@{/attendances/update}" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>
                        <a href="#" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Delete">
                            <i class="fa-solid fa-ban text-danger"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>10:20:00</td>
                    <td>20:11:00</td>
                    <td>14/12/2024</td>
                    <td>Active</td>
                    <td>
                        <a th:href="@{/attendances/update}" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>
                        <a href="#" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Delete">
                            <i class="fa-solid fa-ban text-danger"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
</body>