<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Attendances</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <form method="get" th:action="@{/attendances}">
        <div class="table-title">
            <div class="row justify-content-between">
                <h3 class="col-sm-4">#List Attendance</h3>
                <div class="input-group mb-2 col-sm-8" style="max-width: 400px;">
                    <input class="form-control me-2" id="date" name="text" th:value="${text}" type="date">
                    <!--                    <input type="text" class="form-control rounded-start" placeholder="Search...">-->
                    <button class="btn btn-primary rounded-end" data-bs-placement="top" data-bs-toggle="tooltip"
                            title="Search" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a class="btn btn-success ms-1 rounded" data-bs-placement="top" data-bs-toggle="tooltip"
                       th:href="@{/attendances/create}" title="Add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Date <i class="fa fa-sort"></i></th>
                    <th scope="col">Check in <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Check out <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Active <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attendance : ${attendances}">
                    <td th:text="${attendance.checkDay}">12/12/2024</td>
                    <td th:text="${attendance.checkInTime}">10:20:00</td>
                    <td th:text="${attendance.checkOutTime}">20:11:00</td>
                    <td th:text="${attendance.status ? 'Active': 'Deactive'}">Active</td>
                    <td>
                        <a data-bs-placement="left" data-bs-toggle="tooltip" th:href="@{/attendances/update}"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>
                        <a class="ms-2" data-bs-placement="left" data-bs-toggle="tooltip" href="#"
                           title="Delete">
                            <i class="fa-solid fa-ban text-danger"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li aria-current="page" class="page-item active">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
</body>