<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Attendances</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/attendances}">Attendance</a></li>
            <li class="breadcrumb-item">Create</li>
        </ol>
    </nav>
    <div class="row">
        <h3>#Create Attendance</h3>
    </div>
    <form action="" class="row">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="checkin">Check In</label>
                <input class="form-control" id="checkin" type="datetime-local">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="checkout">Checkout</label>
                <input class="form-control" id="checkout" type="datetime-local">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</main>

</body>