<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{::#js-static-resource}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Attendances</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/attendances}">Attendance</a></li>
            <li class="breadcrumb-item">Create</li>
        </ol>
    </nav>
    <div class="row">
        <h3>#Create Attendance</h3>
    </div>
    <form class="row" method="post" th:action="@{/attendances/create}" th:object="${attendance}">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg aria-label="Warning:" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                         fill="currentColor" height="24"
                         role="img" viewBox="0 0 16 16" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div>The system allows insert information within the last 3 days</div>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                </div>
            </div>
        </div>

        <div class="row" th:if="${error != null}">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg aria-label="Warning:" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                         fill="currentColor" height="24"
                         role="img" viewBox="0 0 16 16" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div th:text="${error}">The system allows insert information within the last 3 days</div>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label class="form-label" for="checkDay">Check day</label>
                <input class="form-control" id="checkDay" name="checkDay" th:field="*{checkDay}" type="date">
                <div class="text-danger h6 mt-1" th:if="${checkDay}" th:text="${checkDay}"></div>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label" for="checkin">Checkin</label>
                <input class="form-control" id="checkin" name="checkInTime" th:field="*{checkInTime}"
                       type="time">
                <div class="text-danger h6 mt-1" th:if="${checkInTime}" th:text="${checkInTime}"></div>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label" for="checkout">Checkout</label>
                <input class="form-control" id="checkout" name="checkOutTime" th:field="*{checkOutTime}"
                       type="time">
                <div class="text-danger h6 mt-1" th:if="${checkOutTime}" th:text="${checkOutTime}"></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="input-desc">Note</label>
                <textarea class="form-control" id="input-desc" name="note" placeholder="Note here..."
                          th:field="*{note}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button class="btn btn-primary" type="submit">Create</button>
                <input name="userId" th:field="*{userId}" type="hidden">
            </div>
        </div>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">

    </script>
</th:block>
</body>