<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{}
)}">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<main class="min-vh-100 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/users}">User</a></li>
            <li class="breadcrumb-item">Update</li>
        </ol>
    </nav>
    <div class="table-title">
        <div class="row justify-content-between">
            <h3 class="col-sm-7">#Update User #HE153249</h3>
            <div class="mb-2 col-sm-5" style="max-width: 400px;" id="update-right">
                <a class="btn btn-success me-4 rounded" href="#" type="button"
                   id="button-addon3"><i class="fa-solid fa-circle-info"></i></a>
            </div>
        </div>
    </div>


    <form th:action="@{/users/update}" class="row" method="post" th:object="${user}">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="email" class="form-label">Email <i class="text-danger">*</i></label>
                <input type="text" class="form-control" id="email" placeholder="email@example.com" th:field="*{email}">
                <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="firstname" class="form-label">First name <i class="text-danger">*</i></label>
                <input type="text" class="form-control" id="firstname" placeholder="Nguyen" th:field="*{firstname}">
                <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('firstname')}"
                     th:errors="*{firstname}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="lastname" class="form-label">Last name <i class="text-danger">*</i></label>
                <input type="text" class="form-control" id="lastname" placeholder="Khoi" th:field="*{lastname}">
                <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Username <i class="text-danger">*</i></label>
                <input type="text" class="form-control" id="username" placeholder="khoi" th:field="*{username}">
                <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="phone" class="form-label">Phone <i class="text-danger">*</i></label>
                <input type="tel" class="form-control" id="phone" placeholder="0355166404" th:field="*{phone}">
                <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label for="dateOfBirth" class="form-label">Date of birth <i class="text-danger">*</i></label>
                <input type="date" class="form-control" id="dateOfBirth" value="2001-09-15" th:field="*{dateOfBirth}">
                <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('dateOfBirth')}"
                     th:errors="*{dateOfBirth}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-12">
                <label for="address" class="form-label">Address</label>
                <input type="tel" class="form-control" id="address" placeholder="Ha Noi" th:field="*{address}">
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="gender" class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender" th:field="*{gender}">
                    <option value="1" selected>Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="mb-3 col-md-6">
                <label for="jobPosition" class="form-label">Job Position</label>
                <select class="form-select" id="jobPosition" name="jobPosition" th:field="*{jobPositionId}">
                    <option th:each="position: ${session.jobPositions}" th:value="${position.id}"
                            th:text="${position.name}">
                        BA
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="department" class="form-label">Department</label>
                <select class="form-select" id="department" name="department" th:field="*{departmentId}">
                    <option th:each="department: ${session.departments}" th:value="${department.id}"
                            th:text="${department.name}">Department 1
                    </option>
                </select>
            </div>
            <div class="mb-3 col-md-6">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" id="role" name="role" th:field="*{roleId}">
                    <option th:each="role: ${session.roles}" th:value="${role.id}" th:text="${role.name}">User</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</main>
</body>