<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{::#js-static-resource}
)}" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <div class="col-md-12">
        <div th:if="${param.create}" class="alert alert-success alert-dismissible fade show d-flex align-items-center"
             role="alert">
            <svg aria-label="Warning:"
                 class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                 fill="currentColor" height="24"
                 role="img" viewBox="0 0 16 16" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>Account was created successfully, please check the email was created.</div>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                    type="button"></button>
        </div>
    </div>

    <form method="get" th:action="@{/users}">
        <div class="table-title">
            <div class="row justify-content-between">
                <h3 class="col-sm-4">#List User</h3>
                <div class="input-group mb-2 col-sm-8" style="max-width: 400px;">
                    <input class="form-control rounded" name="text" onchange="submitForm()"
                           placeholder="Search..." th:value="${text}"
                           type="text">
                    <a class="btn btn-success ms-1 rounded" data-bs-placement="top"
                       data-bs-toggle="tooltip" sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{/users/create}" title="Add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Code <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">First Name <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Last Name <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Email <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Gender <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Department <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Role <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Position <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col" sec:authorize="hasAuthority('ADMIN')">Activate <a class="text-secondary" href="#"><i
                            class="fa fa-sort"></i></a>
                    <th scope="col" sec:authorize="hasAuthority('ADMIN')">Active <a class="text-secondary" href="#"><i
                            class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col" sec:authorize="hasAuthority('ADMIN')">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.code}">#A159283</td>
                    <td th:text="${user.firstname}">Nguyen</td>
                    <td th:text="${user.lastname}">Hong Minh</td>
                    <td th:text="${user.email}">hongminhsn1812@gmail.com</td>
                    <td th:text="${user.gender == 1? 'Male': 'Female'}">Male</td>
                    <td th:text="${user.department.name}">User</td>
                    <td th:text="${user.role.name}">User</td>
                    <td th:text="${user.position.name}">Developer</td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <i class="fa-solid fa-circle-check"
                           data-bs-placement="left"
                           data-bs-toggle="tooltip"
                           th:classappend="${user.activated ? 'text-success' : 'text-danger'}"
                           th:title="${user.activated ? 'Activated' : 'Unactivated'}"
                        ></i>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')" th:text="${user.enabled ? 'Active': 'Deactive'}">Active
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a data-bs-placement="left" data-bs-toggle="tooltip"
                           th:href="@{/users/update/{id}(id=${user.id})}"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>
                        <span class="ms-2" data-bs-toggle="modal"
                              th:classappend="${user.isEnabled == false?'disabled':''}"
                              th:data-bs-target="'#modal'+${user.id}"
                              type="button">
                            <i class="fa-solid fa-circle-check"
                               data-bs-placement="left"
                               data-bs-toggle="tooltip"
                               th:classappend="${user.enabled ? 'text-danger disabled' : 'text-success'}"
                               th:title="${user.enabled ? 'Change to deactive' : 'Change to active'}"></i>
                        </span>

                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                             tabindex="-1" th:id="'modal'+${user.id == userLoggedIn.id?0:user.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to change status user?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <a class="btn btn-danger" th:href="@{/users/change-status/{id}(id=${user.id})}">Change</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="ms-2" data-bs-placement="left" data-bs-toggle="tooltip"
                           th:href="@{/attendances/{id}(id=${user.id})}"
                           title="Check In">
                            <i class="fa-solid fa-check"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:classappend="${(currentPage == 1 || totalPage.size() == 0) ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/users(pageIndex=${currentPage -1}, text=${text})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == pageNumber ? 'active' : ''}"
                    th:each="pageNumber : ${totalPage}">
                    <a class="page-link" th:href="@{/users(pageIndex=${pageNumber}, text=${text})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item"
                    th:classappend="${(totalPage.size() == currentPage || totalPage.size() == 0)? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/users(pageIndex=${currentPage + 1}, text=${text})}">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">
        function submitForm() {
            document.querySelector('form').submit();
        }
    </script>
</th:block>
</body>