<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{::#js-static-resource}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <form method="get" th:action="@{/users}">
        <div class="table-title">
            <div class="row justify-content-between">
                <h3 class="col-sm-4">#List User</h3>
                <div class="input-group mb-2 col-sm-8" style="max-width: 400px;">
                    <input class="form-control rounded" onchange="submitForm()" name="text"
                           placeholder="Search..." th:value="${text}"
                           type="text">
<!--                    <button class="btn btn-primary rounded-end" data-bs-placement="top" data-bs-toggle="tooltip"-->
<!--                            title="Search"-->
<!--                            type="submit">-->
<!--                        <i class="fa-solid fa-magnifying-glass"></i>-->
<!--                    </button>-->
                    <a class="btn btn-success ms-1 rounded" data-bs-placement="top" data-bs-toggle="tooltip"
                       th:href="@{/users/create}" title="Add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Code <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">First Name <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Last Name <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Email <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Gender <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Department <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Role <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Position <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Active <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.code}">#A159283</td>
                    <td th:text="${user.firstname}">Nguyen</td>
                    <td th:text="${user.lastname}">Hong Minh</td>
                    <td th:text="${user.email}">hongminhsn1812@gmail.com</td>
                    <td th:text="${user.gender == 1? 'Male': 'Female'}">Male</td>
                    <td th:text="${user.department.name}">User</td>
                    <td th:text="${user.role.name}">User</td>
                    <td th:text="${user.position.name}">Developer</td>
                    <td th:text="${user.enabled ? 'Active': 'Deactive'}">Active</td>
                    <td>
                        <a data-bs-placement="left" data-bs-toggle="tooltip"
                           th:href="@{/users/update/{id}(id=${user.id})}"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>
                        <span class="ms-2" data-bs-toggle="modal"
                              th:classappend="${user.isEnabled == false?'disabled':''}"
                              th:data-bs-target="'#modal'+${user.id}"
                              type="button">
                            <i class="fa-solid fa-circle-check"
                               data-bs-placement="left"
                               data-bs-toggle="tooltip"
                               th:classappend="${user.enabled ? 'text-danger' : 'text-success'}"
                               th:title="${user.enabled ? 'Change to deactive' : 'Change to active'}"></i>
                        </span>

                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                             tabindex="-1" th:id="'modal'+${user.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to change status user?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <a class="btn btn-danger" th:href="@{/users/change-status/{id}(id=${user.id})}">Change</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="ms-2" data-bs-placement="left" data-bs-toggle="tooltip"
                           th:href="@{/attendances/{id}(id=${user.id})}"
                           title="Check In">
                            <i class="fa-solid fa-check"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/users(pageIndex=${currentPage -1}, text=${text})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == pageNumber ? 'active' : ''}"
                    th:each="pageNumber : ${totalPage}">
                    <a class="page-link" th:href="@{/users(pageIndex=${pageNumber}, text=${text})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:classappend="${totalPage.size() == currentPage? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/users(pageIndex=${currentPage + 1}, text=${text})}">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">
        function submitForm() {
            document.querySelector('form').submit();
        }
    </script>
</th:block>
</body>