<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <form th:action="@{/users}" method="get">
        <div class="table-title">
            <div class="row justify-content-between">
                <h3 class="col-sm-4">#List User</h3>
                <div class="input-group mb-2 col-sm-8" style="max-width: 400px;">
                    <input type="text" class="form-control rounded-start" placeholder="Search..." name="text" th:value="${text}">
                    <button class="btn btn-primary rounded-end" type="submit" data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <a class="btn btn-success ms-1 rounded" th:href="@{/users/create}" data-bs-toggle="tooltip"
                       data-bs-placement="top" title="Add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Code <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">First Name <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Last Name <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Email <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Gender <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Role <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Position <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Active <a href="#" class="text-secondary"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.code}">#A159283</td>
                    <td th:text="${user.firstname}">Nguyen</td>
                    <td th:text="${user.lastname}">Hong Minh</td>
                    <td th:text="${user.email}">hongminhsn1812@gmail.com</td>
                    <td th:text="${user.gender == 1? 'Male': 'Female'}">Male</td>
                    <td th:text="${user.role.name}">User</td>
                    <td th:text="${user.position.name}">Developer</td>
                    <td th:text="${user.enabled ? 'Active': 'Deactive'}">Active</td>
                    <td>
                        <a th:href="@{/users/update/{id}(id=${user.id})}" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                         </a>
<!--                        <a th:href="@{/users/change-status/{id}(id=${user.id})}" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="left"-->
<!--                           title="Change status">-->
<!--                            <i class="fa-solid fa-circle-check" th:classappend="${user.enabled?'text-danger':'text-success'}"></i>-->
<!--                        </a>-->

                        <span class="ms-2" type="button" data-bs-toggle="modal"
                                th:data-bs-target="'#modal'+${user.id}"
                                th:classappend="${user.isEnabled == false?'disabled':''}">
                            <i class="fa-solid fa-circle-check" th:classappend="${user.enabled ? 'text-danger' : 'text-success'}"
                               data-bs-toggle="tooltip" data-bs-placement="left" th:title="${user.enabled ? 'Change to deactive' : 'Change to active'}"></i>
                        </span>

                        <div class="modal fade" th:id="'modal'+${user.id}" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to change status user?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <a th:href="@{/users/change-status/{id}(id=${user.id})}" class="btn btn-danger">Change</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a th:href="@{/attendances/{id}(id=${user.id})}" class="ms-2" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="Check In">
                            <i class="fa-solid fa-check"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/users(pageIndex=${currentPage -1}, text=${text})}">Previous</a>
                </li>
                <li class="page-item" th:each="pageNumber : ${totalPage}"
                    th:classappend="${currentPage == pageNumber ? 'active' : ''}">
                    <a class="page-link" th:href="@{/users(pageIndex=${pageNumber}, text=${text})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:classappend="${totalPage.size() == currentPage? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/users(pageIndex=${currentPage + 1}, text=${text})}">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
</body>