<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>

<body>
<main class="min-vh-100 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/users}">User</a></li>
            <li class="breadcrumb-item">Update</li>
        </ol>
    </nav>
    <div class="table-title">
        <div class="row justify-content-between">
            <h3 class="col-sm-7">#Update User</h3>
        </div>
    </div>


    <form class="row" method="post" th:action="@{/users/update}" th:object="${user}">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="email">Email <i class="text-danger">*</i></label>
                <input class="form-control" id="email" name="email" placeholder="email@example.com" readonly
                       th:field="*{email}"
                       type="email">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="code">Code<i class="text-danger">*</i></label>
                <input class="form-control" id="code" name="code" placeholder="A153249" readonly th:field="*{code}"
                       type="text">
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="firstname">First name <i class="text-danger">*</i></label>
                <input class="form-control" id="firstname" placeholder="Nguyen" th:field="*{firstname}" type="text">
                <div class="text-danger h6 mt-1" th:if="${firstname}" th:text="${firstname}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="lastname">Last name <i class="text-danger">*</i></label>
                <input class="form-control" id="lastname" placeholder="Khoi" th:field="*{lastname}" type="text">
                <div class="text-danger h6 mt-1" th:if="${lastname}" th:text="${lastname}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="phone">Phone <i class="text-danger">*</i></label>
                <input class="form-control" id="phone" placeholder="0355166404" th:field="*{phone}" type="tel">
                <div class="text-danger h6 mt-1" th:if="${phone}" th:text="${phone}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="dateOfBirth">Date of birth <i class="text-danger">*</i></label>
                <input class="form-control" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" type="date">
                <div class="text-danger h6 mt-1" th:if="${dateOfBirth}" th:text="${dateOfBirth}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="address">Address</label>
                <input class="form-control" id="address" placeholder="Ha Noi" th:field="*{address}" type="tel">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="username">Username <i class="text-danger">*</i></label>
                <input class="form-control" id="username" placeholder="khoi" th:field="*{username}" type="text">
                <div class="text-danger h6 mt-1" th:if="${username}" th:text="${username}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="gender">Gender</label>
                <select class="form-select" id="gender" name="gender" th:field="*{gender}">
                    <option th:selected="${user != null && user.gender == 1}" value="1">Male</option>
                    <option th:selected="${user != null && user.gender == 0}" value="0">Female</option>
                </select>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="jobPosition">Job Position</label>
                <select class="form-select" id="jobPosition" name="jobPositionId">
                    <option th:each="position: ${session.jobPositions}" th:selected="${position.id == user.position.id}"
                            th:text="${position.name}" th:value="${position.id}">
                        BA
                    </option>
                </select>
                <div class="text-danger h6 mt-1" th:if="${position}" th:text="${position}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="department">Department</label>
                <select class="form-select" id="department" name="departmentId">
                    <option th:each="department: ${session.departments}"
                            th:selected="${department.id == user.department.id}"
                            th:text="${department.name}" th:value="${department.id}">Department
                    </option>
                </select>
                <div class="text-danger h6 mt-1" th:if="${department}" th:text="${department}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="role">Role</label>
                <select class="form-select" id="role" name="roleId">
                    <option th:each="role: ${session.roles}" th:selected="${role.id == user.role.id}"
                            th:text="${role.name}" th:value="${role.id}">User
                    </option>
                </select>
                <div class="text-danger h6 mt-1" th:if="${role}" th:text="${role}"></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button class="btn btn-primary" type="submit">Update</button>
                <input name="id" th:field="*{id}" type="hidden">
                <a class="btn btn-success ms-1" th:href="@{'/users/reset-password/' + ${user.id}}"
                   th:if="${user.role.name == 'USER'}">Reset password</a>
                <a class="btn btn-secondary ms-1" th:href="@{/users/send-token-again/{id}(id=${user.id})}"
                   th:if="${user.activated == false}">Reactivate</a>
            </div>
        </div>
    </form>
</main>
</body>