<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>

<body>
<main class="min-vh-100 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/departments}">Department</a></li>
            <li class="breadcrumb-item">Update</li>
        </ol>
    </nav>
    <div class="row">
        <h3>#Update Department</h3>
    </div>
    <form class="row" method="post" th:action="@{/departments/update}" th:object="${department}">
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="name">Department name</label>
                <input class="form-control" id="name" name="name" placeholder="Hades" th:field="*{name}" type="text">
                <div class="text-danger h6 mt-1" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="input-desc">Description</label>
                <textarea class="form-control" id="input-desc" name="description" placeholder="Description here"
                          th:field="*{description}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <input name="id" th:value="${department.id}" type="hidden">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>