<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>

<body>
<main class="min-vh-100 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/departments}">Department</a></li>
            <li class="breadcrumb-item">Create</li>
        </ol>
    </nav>
    <div class="row">
        <h3>#Create Department</h3>
    </div>
    <form action="" class="row">
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="name">Department name</label>
                <input class="form-control" id="name" placeholder="Hades" type="text">
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="input-desc">Description</label>
                <textarea class="form-control" id="input-desc" placeholder="Description here"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>