<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{::#js-static-resource}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <form method="get" th:action="@{/departments}">
        <div class="table-title">
            <div class="row justify-content-between">
                <h3 class="col-sm-4">#List Department</h3>
                <div class="input-group mb-2 col-sm-8" style="max-width: 400px;">
                    <input class="form-control rounded" name="text" onchange="submitForm()" placeholder="Search..."
                           th:value="${text}" type="text">
                    <a class="btn btn-success ms-1 rounded" data-bs-placement="top" data-bs-toggle="tooltip"
                       th:href="@{/departments/create}" title="Add">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Member <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a></th>
                    <th scope="col">Created At <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Update At <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Active <a class="text-secondary" href="#"><i class="fa fa-sort"></i></a>
                    </th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department: ${departments}">
                    <td th:text="${department.name}"></td>
                    <td th:text="${department.member}"></td>
                    <td th:text="${department.createdAt}">20:11:00 12/12/2024</td>
                    <td th:text="${department.updateAt}">20:11:00 12/12/2024</td>
                    <td>
                        <i class="fa-solid fa-circle-check"
                           data-bs-placement="left"
                           data-bs-toggle="tooltip"
                           th:classappend="${department.status ? 'text-success' : 'text-danger'}"
                           th:title="${department.status ? 'Active' : 'Deactive'}"
                        ></i>
                    </td>
                    <td>
                        <a data-bs-placement="left" data-bs-toggle="tooltip"
                           th:href="@{/departments/update/{id}(id=${department.id})}"
                           title="Update">
                            <i class="fa-solid fa-pencil text-warning"></i>
                        </a>

                        <span class="ms-2" data-bs-toggle="modal"
                              th:classappend="${department.status == false?'disabled':''}"
                              th:data-bs-target="'#modal'+${department.id}"
                              type="button">
                            <i class="fa-solid fa-circle-check"
                               data-bs-placement="left"
                               data-bs-toggle="tooltip"
                               th:classappend="${department.status ? 'text-danger' : 'text-success'}"
                               th:title="${department.status ? 'Change to deactive' : 'Change to active'}"></i>
                        </span>

                        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                             tabindex="-1" th:id="'modal'+${department.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to change status department?
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <a class="btn btn-danger"
                                           th:href="@{/departments/change-status/{id}(id=${department.id})}">Change</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="ms-2" data-bs-placement="left" data-bs-toggle="tooltip"
                           th:href="@{/users(departmentId=${department.id})}"
                           title="Detail">
                            <i class="fa-solid fa-circle-info text-success"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:classappend="${(currentPage == 1 || totalPage.size() == 0) ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/departments(pageIndex=${currentPage -1}, text=${text})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == pageNumber ? 'active' : ''}"
                    th:each="pageNumber : ${totalPage}">
                    <a class="page-link" th:href="@{/departments(pageIndex=${pageNumber}, text=${text})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item"
                    th:classappend="${(totalPage.size() == currentPage || totalPage.size() == 0)? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/departments(pageIndex=${currentPage + 1}, text=${text})}">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">
        function submitForm() {
            document.querySelector('form').submit();
        }
    </script>
</th:block>
</body>