app:
  host: http://localhost:8080/
spring:
  messages:
    basename: messages
    encoding: UTF-8
    fallback-to-system-locale: false
  application:
    name: AmelaManagement
  datasource:
    url: jdbc:mysql://localhost:3306/amela_management
    username: root
    password: aA@12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: nguyentienkhoi.dotnet@gmail.com
    password: ohqk naos cpfp poiz
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 645991812867-ocnk6keccnnk221v2apuotfmqf3onpha.apps.googleusercontent.com
            client-secret: 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
          github:
            client-id: Iv23liSD3ioqzve5plT7
            client-secret: d2b7eaa28dca14d4debe6b496bfd4f6e224ac149