<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#css-static-resource},
    ~{::#js-static-resource}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <th:block id="css-static-resource">
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/messages}">Messages</a></li>
            <li class="breadcrumb-item">Create</li>
        </ol>
    </nav>
    <h3>#Create Messages</h3>

    <form class="row" method="post" th:action="@{/messages/create}" th:object="${message}">
        <div class="row" th:if="${error != null}">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg aria-label="Warning:" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                         fill="currentColor" height="24"
                         role="img" viewBox="0 0 16 16" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                    <div th:text="${error}">The system allows insert information within the last 3 days</div>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="subjectname">Subject name</label>
                <input class="form-control" id="subjectname" name="subject" placeholder="Subject email"
                       th:field="*{subject}" type="text">
                <div class="text-danger h6 mt-1" th:errors="*{subject}" th:if="${#fields.hasErrors('subject')}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="senderName">Sender name</label>
                <input class="form-control" id="senderName" placeholder="HR Management" th:field="*{senderName}"
                       type="text">
                <div class="text-danger h6 mt-1" th:errors="*{senderName}"
                     th:if="${#fields.hasErrors('senderName')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="form-label" for="editor">Message <small>[{{name}}, {{age}}, {{address}}, {{code}},
                    {{email}}, {{phone}}, {{username}}, {{username}}, {{username}}, {{department}},
                    {{position}}]</small> </label>
                <textarea class="form-control" id="editor" name="message" rows="3" th:field="*{message}"></textarea>
                <div class="text-danger h6 mt-1" th:errors="*{message}" th:if="${#fields.hasErrors('message')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="sendTime">Send time</label>
                <input class="form-control" id="sendTime" name="publishAt" th:field="*{publishAt}"
                       type="datetime-local">
                <div class="text-danger h6 mt-1" th:errors="*{publishAt}"
                     th:if="${#fields.hasErrors('publishAt')}"></div>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="sendtime">Send group or email</label>
                <div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="radio-btn-group">Group</label>
                        <input checked class="form-check-input" id="radio-btn-group" name="choice"
                               th:field="*{choice}" type="radio"
                               value="true">
                    </div>
                    <div class="form-check form-check-inline ms-5">
                        <label class="form-check-label" for="radio-btn-email">Email</label>
                        <input class="form-check-input" id="radio-btn-email" name="choice" th:field="*{choice}"
                               type="radio"
                               value="false">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="emailValue">
            <div class="col-md-12 mb-3">
                <label class="form-label" for="list-email">List email</label>
                <textarea autocomplete="on" class="form-control" id="list-email" name="listEmail" rows="3"
                          th:field="*{listMail}"></textarea>
                <div class="text-danger h6 mt-1" th:errors="*{listMail}" th:if="${#fields.hasErrors('listMail')}"></div>
            </div>
        </div>
        <div class="row" id="groupValue">
            <div class="col-md-12 mb-3">
                <label class="form-label" for="group-email">Group email (from <a
                        th:href="@{/groups}">here</a>)</label>
                <select aria-label="Default select example" class="form-select" id="group-email" name="groupId"
                        th:field="*{groupId}">
                    <option value="0">Choose a group</option>
                    <option th:each="group: ${session.groups}" th:text="${group.name}" th:value="${group.id}">
                        Intership group
                    </option>
                </select>
                <div class="text-danger h6 mt-1" th:errors="*{groupId}" th:if="${#fields.hasErrors('groupId')}"></div>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

        var radioGroup = document.getElementById("radio-btn-group");
        var radioEmail = document.getElementById("radio-btn-email");
        var emailValue = document.getElementById("emailValue");
        var groupValue = document.getElementById("groupValue");

        if (radioGroup.checked) {
            groupValue.style.display = "block";
            emailValue.style.display = "none";
            document.getElementById('list-email').value = ''
        } else if (radioEmail.checked) {
            emailValue.style.display = "block";
            groupValue.style.display = "none";
            document.getElementById('group-email').value = 0
        }

        radioGroup.addEventListener("change", function () {
            if (radioGroup.checked) {
                groupValue.style.display = "block";
                emailValue.style.display = "none";
                document.getElementById('list-email').value = ''
            }
        });

        radioEmail.addEventListener("change", function () {
            if (radioEmail.checked) {
                emailValue.style.display = "block";
                groupValue.style.display = "none";
                document.getElementById('group-email').value = 0
            }
        });
    </script>
</th:block>
</body>