<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#css-static-resource},
    ~{::#js-static-resource}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <th:block id="css-static-resource">
        <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/messages}">Messages</a></li>
            <li class="breadcrumb-item">Update</li>
        </ol>
    </nav>
    <h3>#Update Messages</h3>

    <form action="" class="row">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="subjectname">Subject name</label>
                <input class="form-control" id="subjectname" placeholder="Subject email" type="text">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="firstname">Sender name</label>
                <input class="form-control" id="firstname" placeholder="HR Management" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="form-label" for="editor">Message [{{name}}: full name, {{age}}: age]</label>
                <textarea class="form-control" id="editor" name="message" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label class="form-label" for="sendtime">Send time</label>
                <input class="form-control" id="sendtime" type="datetime-local">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" for="sendtime">Send group or email</label>
                <div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="radiobuttongroup">Group</label>
                        <input class="form-check-input" id="radiobuttongroup" name="inlineRadioOptions" type="radio"
                               value="option1">
                    </div>
                    <div class="form-check form-check-inline ms-5">
                        <label class="form-check-label" for="radiobuttonemail">Email</label>
                        <input class="form-check-input" id="radiobuttonemail" name="inlineRadioOptions" type="radio"
                               value="option2">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="form-label" for="inputemailsending">List email</label>
                <textarea autocomplete="on" class="form-control" id="inputemailsending" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="form-label" for="inputemailsending">Group email (from <a
                        th:href="@{/groups}">here</a>)</label>
                <select aria-label="Default select example" class="form-select">
                    <option selected>Intership group</option>
                    <option value="1">Developer faderless</option>
                    <option value="2">Tester faderless</option>
                    <option value="3">Soccer faderless</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
</th:block>
</body>