<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#messages-detail-static-resource},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <th:block id="messages-detail-static-resource">
        <link rel="stylesheet" th:href="@{/css/blog-detail.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light py-5">
    <div class="blog-single">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="article-title">
                            <h2 th:text="${message.subject}">They Now Bade Farewell To The Kind But Unseen People</h2>
                            <div class="media">
                                <div class="media-body">
                                    <label th:text="${message.senderName}">Administrator</label>
                                    <span th:text="${message.publishAt}">10:10:00 23/03/2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content" th:utext="${message.message}"></div>
                    </article>
                </div>
                <div class="col-lg-4 m-15px-tb blog-aside">
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Latest Messages</h3>
                        </div>
                        <div class="widget-body">
                            <div class="latest-post-aside media" style="display: flex; justify-content: space-between">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#" style="text-decoration: none;">Prevent 75% of visitors from
                                            google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <small>Administrator</small>
                                        <small class="ms-3">10:10:00 23/03/2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-post-aside media" style="display: flex;; justify-content: space-between">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#" style="text-decoration: none;">Prevent 75% of visitors from
                                            google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <small>Administrator</small>
                                        <small class="ms-3">10:10:00 23/03/2024</small>
                                    </div>
                                </div>
                            </div>
                            <div class="latest-post-aside media" style="display: flex;; justify-content: space-between">
                                <div class="lpa-left media-body">
                                    <div class="lpa-title">
                                        <h5><a href="#" style="text-decoration: none;">Prevent 75% of visitors from
                                            google analytics</a></h5>
                                    </div>
                                    <div class="lpa-meta">
                                        <small>Administrator</small>
                                        <small class="ms-3">10:10:00 23/03/2024</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>