<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block fw-bold">400 Bad Request</span>
                    <div class="mb-4 lead">Your browser sent a request that this server could not understand</div>
                    <a class="btn btn-link" sec:authorize="hasAuthority('ADMIN')" th:href="@{/dashboard}">Back to
                        Dashboard</a>
                    <a class="btn btn-link" sec:authorize="hasAuthority('USER')" th:href="@{/}">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>