<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#profile-static-resource},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block id="profile-static-resource">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light">
    <form class="container px-4 mt-4" method="post" th:action="@{/change-password}"
          th:object="${user}">
        <div class="row min-vh-50">
            <div class="col-xl-4 profile__picture">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <img alt="preview"
                             class="img-account-profile rounded-circle mb-2" id="thumbnail"
                             style="height: 180px; width: 180px;" th:src="@{/users/avatar}">
                    </div>
                </div>
            </div>
            <div class="col-xl-8 account__detail">
                <div class="card mb-4">
                    <div class="card-header">Change password</div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label" for="old-password">Old password</label>
                                    <input class="form-control" id="old-password" name="oldPassword"
                                           placeholder="Enter your old password"
                                           th:field="*{oldPassword}" type="password">
                                    <div class="text-danger h6 mt-1" th:errors="*{oldPassword}"
                                         th:if="${#fields.hasErrors('oldPassword')}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label" for="new-password">New password</label>
                                    <input class="form-control" id="new-password" name="newPassword"
                                           placeholder="Enter your new password"
                                           th:field="*{newPassword}" type="password">
                                    <div class="text-danger h6 mt-1" th:errors="*{newPassword}"
                                         th:if="${#fields.hasErrors('newPassword')}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label class="form-label" for="confirm-password">Confirm password</label>
                                    <input class="form-control" id="confirm-password" name="confirmPassword"
                                           placeholder="Enter your confirm password"
                                           th:field="*{confirmPassword}" type="password">
                                    <div class="text-danger h6 mt-1" th:errors="*{confirmPassword}"
                                         th:if="${#fields.hasErrors('confirmPassword')}"></div>
                                </div>
                            </div>
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                            <a class="btn btn-outline-success" th:href="@{/profile}">View Profile</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</body>