<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#blog-static-resource},
    ~{}
)}">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block id="blog-static-resource">
        <link rel="stylesheet" th:href="@{/css/blog.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light">
    <form action="#" method="post" class="container">
        <div class="row justify-content-center" style="padding-top: 50px">
            <div class="d-flex blog__search">
                <input class="form-control" type="search" style="border-radius: 0.3rem 0 0 0.3rem!important;"
                       placeholder="Search title post...">
                <button class="btn btn-success rounded-end" style="border-radius: 0 0.3rem 0.3rem 0!important;"
                        type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="row mt-n5">
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" th:src="@{/image/blog.jpg}"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a th:href="@{/messages/detail}">China sees foreign threats</a></h3>
                        <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Jul,
                                    <script>document.write(new Date().getFullYear())</script>
                                    2022</a></li>
                                <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                <!--                                <li><a href="#!"><i class="fas fa-comments"></i> 38</a></li>-->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".4s"
                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" th:src="@{/image/blog.jpg}"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a th:href="@{/messages/detail}">Growth your business strategy</a></h3>
                        <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Jun,
                                    <script>document.write(new Date().getFullYear())</script>
                                    2022</a></li>
                                <!-- <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                <li><a href="#!"><i class="fas fa-comments"></i> 68</a></li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".6s"
                 style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" th:src="@{/image/blog.jpg}"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a th:href="@{/messages/detail}">Business people success master plan</a>
                        </h3>
                        <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 16 May,
                                    <script>document.write(new Date().getFullYear())</script>
                                    2022</a></li>
                                <!-- <li><a href="#!"><i class="fas fa-user"></i> User</a></li> -->
                                <!-- <li><a href="#!"><i class="fas fa-comments"></i> 58</a></li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".8s"
                 style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" th:src="@{/image/blog.jpg}"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a th:href="@{/messages/detail}">Results professional report</a></h3>
                        <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 02 Apr,
                                    <script>document.write(new Date().getFullYear())</script>
                                    2022</a></li>
                                <!-- <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                <li><a href="#!"><i class="fas fa-comments"></i> 38</a></li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="1s"
                 style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" th:src="@{/image/blog.jpg}"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a th:href="@{/messages/detail}">Business strategy concept</a></h3>
                        <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 25 Mar,
                                    <script>document.write(new Date().getFullYear())</script>
                                    2022</a></li>
                                <!-- <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                <li><a href="#!"><i class="fas fa-comments"></i> 68</a></li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay="1.2s"
                 style="visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;">
                <div class="blog-grid">
                    <div class="blog-grid-img position-relative"><img alt="img" th:src="@{/image/blog.jpg}"></div>
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a th:href="@{/messages/detail}">Business people meeting</a></h3>
                        <p class="display-30">Exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <div class="meta meta-style2">
                            <ul>
                                <li><a href="#!"><i class="fas fa-calendar-alt"></i> 10 Feb,
                                    <script>document.write(new Date().getFullYear())</script>
                                    2022</a></li>
                                <!-- <li><a href="#!"><i class="fas fa-user"></i> User</a></li>
                                <li><a href="#!"><i class="fas fa-comments"></i> 58</a></li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination justify-content-center my-3">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
</body>