<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#blog-static-resource},
    ~{::#js-static-resource}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block id="blog-static-resource">
        <link rel="stylesheet" th:href="@{/css/blog.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light">
    <form class="container" method="get" th:action="@{/}">
        <div class="row justify-content-center" style="padding-top: 50px">
            <div class="d-flex blog__search">
                <input class="form-control" name="text" onchange="submitForm()" placeholder="Search title post..."
                       th:value="${text}" type="search">
            </div>
        </div>
        <div class="row mt-n5 mb-3">
            <div class="col-md-6 col-lg-4 mt-5" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"
                 th:each="message: ${messages}">
                <div class="blog-grid">
                    <div class="blog-grid-text p-4">
                        <h3 class="h5 mb-3"><a class="text-secondary"
                                               th:href="@{/messages/detail/{id}(id=${message.id})}"
                                               th:text="${message.subject}"></a></h3>
                        <div class="meta meta-style2">
                            <ul>
                                <li><i class="fas fa-calendar-alt text-secondary"></i><span class="text-secondary"
                                                                                            th:text="${message.publishAt}"></span>
                                </li>
                                <li><i class="fas fa-user text-secondary"></i><span class="text-secondary"
                                                                                    th:text="${message.senderName}"></span>
                                </li>
                                <li><i class="fa-solid fa-eye"></i><span class="text-secondary"
                                                                         th:text="${message.viewers}"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/(pageIndex=${currentPage -1}, text=${text})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${currentPage == pageNumber ? 'active' : ''}"
                    th:each="pageNumber : ${totalPage}">
                    <a class="page-link" th:href="@{/(pageIndex=${pageNumber}, text=${text})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:classappend="${totalPage.size() == currentPage? 'disabled' : ''}">
                    <a class="page-link"
                       th:href="@{/(pageIndex=${currentPage + 1}, text=${text})}">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</main>
<th:block id="js-static-resource">
    <script type="application/javascript">
        function submitForm() {
            document.querySelector('form').submit();
        }
    </script>
</th:block>
</body>