<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#profile-static-resource},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block id="profile-static-resource">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light">
    <form class="container px-4 mt-4" method="post" th:action="@{/profile}" th:object="${user}">
        <div class="row">
            <div class="col-xl-4 profile__picture">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <img alt="" class="img-account-profile rounded-circle mb-2"
                             id="img-preview"
                             style="height: 180px; width: 180px;" th:src="@{/image/avatar.jpg}">
                        <!--                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>-->
                        <!--                        <input accept="image/*" class="form-control" id="file-input" type="file">-->
                    </div>
                </div>
            </div>
            <div class="col-xl-8 account__detail">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputEmailAddress">Email</label>
                                    <input class="form-control" id="inputEmailAddress" placeholder="Enter your email address"
                                           readonly th:field="*{email}" type="email">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="role">Role</label>
                                    <input class="form-control" id="role" name="role" placeholder="Enter your code"
                                           readonly th:field="*{role}" type="text">
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="department">Department</label>
                                    <input class="form-control" id="department" name="department" placeholder="Enter your email address"
                                           readonly th:field="*{department}" type="text">
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="jobPosition">Job Position</label>
                                    <input class="form-control" id="jobPosition" name="position" placeholder="Enter your email address"
                                           readonly th:field="*{position}" type="text">
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="code">Code</label>
                                    <input class="form-control" id="code" name="code" placeholder="Enter your code"
                                           readonly th:field="*{code}" type="text">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputUsername">Username</label>
                                    <input class="form-control" id="inputUsername" name="username"
                                           placeholder="Enter your username" th:field="*{username}" type="text">
                                    <div class="text-danger h6 mt-1" th:if="${username}" th:text="${username}"></div>
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" name="firstname"
                                           placeholder="Enter your first name" th:field="*{firstname}" type="text">
                                    <div class="text-danger h6 mt-1" th:if="${firstname}" th:text="${firstname}"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" name="lastname"
                                           placeholder="Enter your last name" th:field="*{lastname}" type="text">
                                    <div class="text-danger h6 mt-1" th:if="${lastname}" th:text="${lastname}"></div>
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="gender">Gender</label>
                                    <select aria-label="Default select example" class="form-select" id="gender"
                                            th:field="*{gender}">
                                        <option th:selected="${user != null && user.gender == 1}" value="1">Male
                                        </option>
                                        <option th:selected="${user != null && user.gender == 0}" value="0">Female
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputLocation">Address</label>
                                    <input class="form-control" id="inputLocation" name="address"
                                           placeholder="Enter your location" th:field="*{address}" type="text">
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputPhone">Phone</label>
                                    <input class="form-control" id="inputPhone" name="phone"
                                           placeholder="Enter your phone number" th:field="*{phone}" type="tel">
                                    <div class="text-danger h6 mt-1" th:if="${phone}" th:text="${phone}"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="inputBirthday">Date of birth</label>
                                    <input class="form-control" id="inputBirthday" name="dateOfBirth"
                                           placeholder="Enter your birthday"
                                           th:field="*{dateOfBirth}" type="date">
                                    <div class="text-danger h6 mt-1" th:if="${dateOfBirth}"
                                         th:text="${dateOfBirth}"></div>
                                </div>
                            </div>
                            <button class="btn btn-secondary" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</body>