<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(-->
<!--    ~{::title},-->
<!--    ~{::main},-->
<!--    ~{::#profile-static-resource}-->
<!--)}">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Profile</title>-->
<!--    <th:block id="profile-static-resource">-->
<!--        <link rel="stylesheet" th:href="@{/css/profile.css}">-->
<!--    </th:block>-->
<!--</head>-->

<!--<body>-->
<!--<main class="min-vh-100 bg-light">-->
<!--    <form th:action="@{/profile}" method="post" class="container px-4 mt-4" th:object="${user}">-->
<!--        <hr class="mt-0 mb-4">-->
<!--        <div class="row">-->
<!--            <div class="col-xl-4 profile__picture">-->
<!--                <div class="card mb-4 mb-xl-0">-->
<!--                    <div class="card-header">Profile Picture</div>-->
<!--                    <div class="card-body text-center">-->
<!--                        <img class="img-account-profile rounded-circle mb-2" style="height: 180px; width: 180px;"-->
<!--                             id="img-preview"-->
<!--                             th:src="@{/image/avatar.jpg}" alt="">-->
<!--                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>-->
<!--                        &lt;!&ndash; <button class="btn btn-primary" type="button">Upload new image</button> &ndash;&gt;-->
<!--                        <input accept="image/*" type="file" class="form-control" id="file-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-8 account__detail">-->
<!--                <div class="card mb-4">-->
<!--                    <div class="card-header">Account Details</div>-->
<!--                    <div class="card-body">-->
<!--                        <form>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputUsername">Username</label>-->
<!--                                    <input class="form-control" id="inputUsername" type="text"-->
<!--                                           placeholder="Enter your username" th:value="${user.username}" readonly>-->
<!--                                </div>-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputEmailAddress">Email address</label>-->
<!--                                    <input class="form-control" id="inputEmailAddress" type="email"-->
<!--                                           placeholder="Enter your email address" readonly th:value="${user.address}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row gx-3">-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="department">Department</label>-->
<!--                                    <input class="form-control" id="department" type="text"-->
<!--                                           placeholder="Enter your phone number" readonly th:value="${user.department}">-->
<!--                                </div>-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="position">Position</label>-->
<!--                                    <input class="form-control" id="position" type="text" name="position" readonly-->
<!--                                           th:value="${user.position}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row gx-3">-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="code">Code</label>-->
<!--                                    <input class="form-control" id="code" type="text"-->
<!--                                           placeholder="Enter your first name" th:value="${user.code}" readonly>-->
<!--                                </div>-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="role">Role</label>-->
<!--                                    <input class="form-control" id="role" type="text"-->
<!--                                           placeholder="Enter your last name" th:value="${user.role}" readonly>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row gx-3 mb-3">-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputFirstName">First name</label>-->
<!--                                    <input class="form-control" id="inputFirstName" type="text"-->
<!--                                           placeholder="Enter your first name" th:value="${user.firstname}"-->
<!--                                           th:field="*{firstname}">-->
<!--                                </div>-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputLastName">Last name</label>-->
<!--                                    <input class="form-control" id="inputLastName" type="text"-->
<!--                                           placeholder="Enter your last name" th:value="${user.lastname}"-->
<!--                                           th:field="*{lastname}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row gx-3">-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="gender">Gender</label>-->
<!--                                    <select class="form-select p-2" id="gender" th:field="*{gender}"-->
<!--                                            aria-label="Default select example">-->
<!--                                        <option value="1" th:selected="${user != null && user.gender == 1}">Male-->
<!--                                        </option>-->
<!--                                        <option value="0" th:selected="${user != null && user.gender == 0}">Female-->
<!--                                        </option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputLocation">Address</label>-->
<!--                                    <input class="form-control" id="inputLocation" type="text"-->
<!--                                           placeholder="Enter your location" th:value="${user.address}"-->
<!--                                           th:field="*{address}">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row gx-3">-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputPhone">Phone number</label>-->
<!--                                    <input class="form-control" id="inputPhone" type="tel"-->
<!--                                           placeholder="Enter your phone number" th:value="${user.phone}"-->
<!--                                           th:field="*{phone}">-->
<!--                                    <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('phone')}"-->
<!--                                         th:errors="*{phone}"></div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6 mb-3">-->
<!--                                    <label class="mb-1" for="inputBirthday">Date of birth</label>-->
<!--                                    <input class="form-control" id="inputBirthday" type="date" name="birthday"-->
<!--                                           placeholder="Enter your birthday" th:value="${user.dateOfBirth}"-->
<!--                                           th:field="*{dateOfBirth}">-->
<!--                                    <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('dateOfBirth')}"-->
<!--                                         th:errors="*{dateOfBirth}"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <button class="btn btn-primary" type="submit">Update</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</main>-->
<!--</body>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#profile-static-resource}
)}">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block id="profile-static-resource">
        <link rel="stylesheet" th:href="@{/css/profile.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light">
    <form th:action="@{/profile}" method="post" class="container px-4 mt-4" th:object="${user}">
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4 profile__picture">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <img class="img-account-profile rounded-circle mb-2" style="height: 180px; width: 180px;"
                             id="img-preview"
                             th:src="@{/image/avatar.jpg}" alt="">
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                        <input accept="image/*" type="file" class="form-control" id="file-input">
                    </div>
                </div>
            </div>
            <div class="col-xl-8 account__detail">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputUsername">Username</label>
                                    <input class="form-control" id="inputUsername" type="text"
                                           placeholder="Enter your username" th:field="*{username}" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputEmailAddress">Email</label>
                                    <input class="form-control" id="inputEmailAddress" type="email"
                                           placeholder="Enter your email address" disabled th:field="*{email}">
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="mb-3 col-md-6">
                                    <label for="department" class="form-label">Department</label>
                                    <select class="form-select" id="department" name="department" disabled>
                                        <option th:each="department: ${session.departments}" th:value="${department.id}"
                                                th:text="${department.name}">Department 1
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="jobPosition" class="form-label">Job Position</label>
                                    <select class="form-select" id="jobPosition" name="jobPosition" disabled>
                                        <option th:each="position: ${session.jobPositions}" th:value="${position.id}"
                                                th:text="${position.name}">
                                            BA
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select" id="gender" th:field="*{gender}"
                                            aria-label="Default select example">
                                        <option value="1" th:selected="${user != null && user.gender == 1}">Male
                                        </option>
                                        <option value="0" th:selected="${user != null && user.gender == 0}">Female
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="role" class="form-label">Role</label>
                                    <select class="form-select" id="role" name="role" disabled>
                                        <option th:each="role: ${session.roles}" th:value="${role.id}"
                                                th:text="${role.name}">User
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text"
                                           placeholder="Enter your first name" th:field="*{firstname}">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text"
                                           placeholder="Enter your last name" th:field="*{lastname}">
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="code">Code</label>
                                    <input class="form-control" id="code" type="text"
                                           placeholder="Enter your code" disabled>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputLocation">Address</label>
                                    <input class="form-control" id="inputLocation" type="text"
                                           placeholder="Enter your location" th:field="*{address}">
                                </div>
                            </div>
                            <div class="row gx-3">
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputPhone">Phone</label>
                                    <input class="form-control" id="inputPhone" type="tel"
                                           placeholder="Enter your phone number" th:field="*{phone}">
                                    <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('phone')}"
                                         th:errors="*{phone}"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="mb-1" for="inputBirthday">Date of birth</label>
                                    <input class="form-control" id="inputBirthday" type="date" name="birthday"
                                           placeholder="Enter your birthday" th:field="*{dateOfBirth}">
                                    <div class="text-danger h6 mt-1" th:if="${#fields.hasErrors('dateOfBirth')}"
                                         th:errors="*{dateOfBirth}"></div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</body>