<!DOCTYPE html>
<html lang="en" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{},
    ~{}
)}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Group</title>
</head>

<body>
<main class="min-vh-100 bg-light">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/groups}">Group</a></li>
            <li class="breadcrumb-item">Create</li>
        </ol>
    </nav>
    <div class="row">
        <h3>#Create Group</h3>
    </div>
    <form class="row" method="post" th:action="@{/groups/create}" th:object="${group}">
        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="name">Group name</label>
                <input class="form-control" id="name" name="name" placeholder="Faderless" th:field="*{name}"
                       type="text">
                <ul class="errors" th:if="${errors != null and !#lists.isEmpty(errors['name'])}">
                    <li class="text-danger h6 mt-1" th:each="error : ${errors['name']}" th:text="${error}"></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="input-desc">Description</label>
                <textarea class="form-control" id="input-desc" name="description" placeholder="Description"
                          th:field="*{description}"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-12">
                <label class="form-label" for="listMail">List mail</label>
                <textarea class="form-control" id="listMail" name="listMail" placeholder="List mail"
                          th:field="*{listMail}"></textarea>
                <ul class="errors" th:if="${errors != null and !#lists.isEmpty(errors['listMail'])}">
                    <li class="text-danger h6 mt-1" th:each="error : ${errors['listMail']}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</main>
</body>