<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{::#post-detail-static-resource}
)}">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <th:block id="post-detail-static-resource">
        <link rel="stylesheet" th:href="@{/css/blog.css}">
    </th:block>
</head>

<body>
<main class="min-vh-100 bg-light py-5">
    <div class="container">
        <h3 class="title">China sees foreign threats ‘everywhere’ as powerful spy agency takes center stage</h3>
        <div class="post">
            <p>Hong Kong
                CNN
                —
                In a slick video marking the National Security Education Day, China’s top spy agency has a stern
                message for Chinese people: foreign spies are everywhere.

                As ominous music plays, a broad-faced, beady-eyed man disguises himself as a street fashion
                photographer, a lab technician, a businessman and a food delivery driver – he even sets up an online
                honey trap – to glean sensitive state secrets in various places and industries.

                “In the sea of people, you may have never noticed him. His identity is changeable and his
                whereabouts are hard to find,” a narrator says. “They are everywhere, cunning… and sneaky, and they
                may be right here in our lives.”

                Eventually, Chinese police catch the spy in a dramatic ambush after state security authorities
                receive multiple tip-offs from the public.

                “They can disguise as anyone. But among the crowds you and I together are protecting national
                security,” the narrator concludes. “We 1.4 billion people are 1.4 billion lines of defense.”

                The three-minute video is the latest propaganda push by China’s powerful civilian spy agency, the
                Ministry of State Security (MSS), to mentally arm the Chinese public against what it sees as the
                growing threat of foreign espionage.

                Under Xi Jinping, China’s most authoritarian leader in decades, the country’s notoriously secretive
                spy agency has drastically raised its public profile and broadened its remit.

                From a shadowy organization without any discernable public face, the MSS has been transformed into a
                highly visible presence in public life.

                In Chinese cities, posters and slogans promoting national security are now a common sight on
                sidewalks, subway trains, campuses and billboards. On social media, the ministry commands a massive
                following with near-daily commentaries, short videos or even comic strips sounding the alarm about
                supposedly ubiquitous threats to the country. According to the MSS, foreign spies are omnipresent
                and infiltrating everything – from mapping apps to weather stations. The ministry has also posted
                details of what it claims are espionage activities carried out by American and British spy agencies,
                and detailed how Chinese nationals studying or working abroad have allegedly been recruited by the
                CIA.

                Last week, as part of a documentary to mark National Security Education Day, the MSS revealed that a
                Chinese scientist convicted of selling state secrets to a foreign intelligence agency was executed
                in 2016. The documentary did not explicitly mention which country, but its images show an American
                flag and the US Capitol building.

                The MSS’ transformation is part of Xi’s sweeping pivot to ramp up national security in the face of
                heightened geopolitical tensions and mounting domestic challenges.

                03 us citizen john tang china intl hnk
                RELATED ARTICLE
                Beijing claims US citizen jailed for life in China was decorated spy who worked undetected for
                decades
                As US-China relations fray, the MSS has undertaken significant efforts to provide guidance to other
                government agencies and broader society, said Xuezhi Guo, a professor of political science at
                Guilford College in the US.

                “These endeavors aim to foster anti-espionage awareness and enhance security measures in light of
                the evolving landscape of espionage threats,” he said. “The goal is to empower Chinese citizens and
                entities with the knowledge and skills required to bolster their vigilance and preempt espionage
                activities effectively.”

                The emphasis on external threats also helps Beijing deflect criticism at home over its own policies
                by shifting blame onto “foreign forces” – a playbook the Chinese government has repeatedly applied
                during periods of public discontent, most recently over protests in late 2022 against Xi’s hardline
                measures to prevent Covid.

                And the spy agency’s extending reach is a sign of the increasing securitization of Chinese life and
                society under Xi, where “an incredibly wide array of issues can be viewed as threats to national
                security,” said Sheena Chestnut Greitens, director of the Asia Policy Program at the University of
                Texas at Austin.

            </p>
        </div>
    </div>
</main>
</body>