<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main-layout:: main-fragment(
    ~{::title},
    ~{::main},
    ~{}
)}">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>

<body>
<main class="min-vh-100 bg-light py-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/posts}">Posts</a></li>
            <li class="breadcrumb-item">Create</li>
        </ol>
    </nav>
    <h3>#Create Post</h3>

    <form action="" class="row">
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="mb-3 col-md-6">
                <label for="sendtime" class="form-label">Public time</label>
                <input type="datetime-local" class="form-control" id="sendtime">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="slugname" class="form-label">Slug</label>
                <input type="text" class="form-control" id="slugname" placeholder="Slug name">
            </div>
            <div class="mb-3 col-md-6">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" aria-label="Default select example">
                    <option value="1">Active</option>
                    <option value="2">Deactivate</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="editor" class="form-label">Content</label>
                <textarea class="form-control" name="message" id="editor" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-12">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</main>
</body>